<div id="beer" class="container col-md-8 col-md-offset-2">
    <!--<h2>{{beer.name}} <a class="btn btn-sm btn-danger" href="#/beers/{{beer.id}}/edit_beer">Edit Beer</a></h2>-->
    <h2>
        {{beer.name}} 
        <span class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-cog"></span></a>
            <ul class="dropdown-menu left">
            <li><a href="#/beers/{{beer.id}}/edit_beer">Edit Beer</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="" data-toggle="modal" data-target="#confirmDelete">Delete Beer</a></li>
            </ul>
        </span>
    </h2>
    
    <div cg-busy="loadBeerData" class="panel outside panel-warning" ng-cloak>
        <div class="panel-heading">Style: {{recipe.style}} </div>
        <div class="panel-body">
        <fieldset class="form-group" id="mobile_rating">
            <label for="beerRating">Rating</label>
            <div id="star-rating-beer" class="star-rating"> 
              <span class="fa fa-star-o" data-rating="1"></span>
              <span class="fa fa-star-o" data-rating="2"></span>
              <span class="fa fa-star-o" data-rating="3"></span>
              <span class="fa fa-star-o" data-rating="4"></span>
              <span class="fa fa-star-o" data-rating="5"></span>
              <input type="hidden" class="rating-value" value="beer.rating">
            </div>
        </fieldset>
        <div id="confirmDelete" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content panel-danger">
                    <div class="modal-header panel-heading">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">DELETE</h4>
                    </div>
                    <div class="modal-body">
                    <h4>Are you sure you want do delete: "{{beer.name}}"</h4>
                    </div>
                    <div class="modal-footer">
                        <span data-dismiss="modal" class="fa fa-times span-btn"><h3 style="display:inline"> NO</h3></span>
                        <span>&nbsp;</span>
                        <span style="font-size:20px" ng-click="deleteBeer()" class="fa fa-exclamation-triangle span-btn"><h3 style="display:inline"> YES</h3></span>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="panel panel-warning">
            <div class="panel-heading">Beer recipe</div>
            <div class="panel-body">
                <div id="fermentables" ng-show="!!ingredients.fermentables.length">
                    <h3>Fermentables</h3>
                    <table class="table">
                        <thead class="thead">
                            <tr>
                              <th>Name</th>
                              <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fermentable in ingredients.fermentables">
                              <td>{{fermentable.name}}</td>
                              <td>{{fermentable.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="hops" ng-show="!!ingredients.hops.length">
                    <h3>Hops</h3>
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Name</th>
                              <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="hops in ingredients.hops">
                              <td>{{hops.name}}</td>
                              <td>{{hops.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="yeast" ng-show="!!ingredients.yeast.length">
                    <h3>Yeast</h3>
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="yeast in ingredients.yeast">
                              <td>{{yeast.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="otherIngredients" ng-show="!!ingredients.other.length">
                    <h3>Additional ingredients</h3>
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Name</th>
                              <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="additional in ingredients.other">
                              <td>{{additional.name}}</td>
                              <td>{{additional.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <div id="show_recipe_notes" ng-show="recipe.notes.length">
               <wysiwyg ng-model="recipe.notes" textarea-name="notes" textarea-menu="noMenu" class="expanding" disabled="true">
               </wysiwyg>
            </div>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">Beer Statistics</div>
            <div class="panel-body">
                <h4>OG</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{(beer_stats.OG-1)*1000}}%;">{{beer_stats.OG}}</div>
                </div>
                <h4>FG</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{(beer_stats.FG-1)*1000}}%;">{{beer_stats.FG}}</div>
                </div>
                <h4>IBU</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{beer_stats.IBU}}" aria-valuemin="0" aria-valuemax="120" style="width: {{beer_stats.IBU}}%;">{{beer_stats.IBU}}</div>
                </div>
                <h4>SRM</h4>
                <div class="wrapper">
                    <div class="tooltip" ng-style="tip_margin">SRM: {{beer_stats.SRM+1}}</div>
                    <div id="SRM" class="progress" ng-style="srm_last_background">
                    <div ng-repeat="n in srmArray">
                        <span class="srmBox" ng-style="srm_width" style="background-color:{{n}};"></span>
                    </div>
                    </div>
                </div>
                <table class="table">
                <thead>
                    <tr>
                      <th>ABV</th>
                      <th>Batch size</th>
                      <th ng-show="beer.bottled">Time in bottles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><h4>{{beer.abv}}%</h4></td>
                      <td><h4>{{recipe.batch_size}}</h4></td>
                      <td ng-show="beer.bottled"><h4>{{beer.bottle_time}}</h4></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-warning" ng-show="beer.notes.length">
        <div class="panel-heading">Beer Notes</div>
            <div class="panel-body">
               <wysiwyg ng-model="beer.notes" textarea-name="notes" textarea-menu="noMenu" class="expanding" disabled="true">
               </wysiwyg>
            </div>
        </div>
       </div>
    </div>
</div>
</div>
