<div class="container col-md-8 col-md-offset-2">
      
    <h2>Beers <a href="#/beers/new/"><span class="fa fa-plus"></span></a></h2>
   
    <div class="search">
      <div class="input-group" >
        <span class="input-group-addon glyphicon glyphicon-search"></span> 
        <input  ng-model="q" class="form-control" placeholder="Search for a beer">
      </div>
    </div>
    <br/>
    <br/>
    <div cg-busy="loadBeersData" class="panel outside panel-warning" ng-cloak>
        <div class="panel-heading">Homebrews
              <div style="float:right">
                <a href="" class="page_size" ng-click="pageSize=10">10</a><span> | </span>
                <a href="" class="page_size" ng-click="pageSize=25">25</a><span> | </span>
                <a href="" class="page_size" ng-click="pageSize=50">50</a>
              </div>
        </div>
        <div class="panel-body">
          <table class="table col-xs-4 mobile_beers" ng-cloak>
              <thead>
                <tr>
                  <th>
                    <a href="" ng-click="order('nr')">Nr</a>
                    <span class="sortorder" ng-show="predicate === 'nr'" ng-class="{reverse:reverse}"/>
                  </th>
                  <th>
                    <a href="" ng-click="order('name')">Name</a>
                    <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"/>
                  </th>
                  <th>
                    <a href="" ng-click="order('brewed')">Brewed</a>
                    <span class="sortorder" ng-show="predicate === 'brewed'" ng-class="{reverse:reverse}"/>
                  </th>
                  <th>
                    <a href="" ng-click="order('bottled')">Bottled</a>
                    <span class="sortorder" ng-show="predicate === 'bottled'" ng-class="{reverse:reverse}"/>
                  </th>
                  <th>
                    <a href="" ng-click="order('finished')">Finished</a>
                    <span class="sortorder" ng-show="predicate === 'finished'" ng-class="{reverse:reverse}"/>
                  </th>
                  <th class="rating">
                    <a href="" ng-click="order('rating')">Rating</a>
                    <span class="sortorder" ng-show="predicate === 'rating'" ng-class="{reverse:reverse}"/>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr dir-paginate="beer in beers | filter:q | orderBy:predicate:reverse | itemsPerPage: pageSize" current-page="currentPage">
                  <td>{{beer.nr}}</td>
                  <td>
                    <div id="{{beer.id}}"
                      class="viewOrEditBeerLink" 
                      onclick="viewBeer(this, event)" 
                      onauxclick="editBeer(this, event)">{{beer.name}}</div>
                  </td>
                  <td>{{beer.brewed}}</td>
                  <td>{{beer.bottled}}</td>
                  <td>{{beer.finished}}</td>
                  <td class="rating">{{beer.rating}}</td>
                </tr>
              </tbody>
          </table>
    </div>
    </div>
    <div class="text-center">
      <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
    </div>
</div>
