<div id="add_beer" class="container col-md-8 col-md-offset-2">
    <h1>Add a new brew</h1>
    <div class="panel outside panel-warning" ng-cloak>
        <div class="panel-heading">Brew form</div>
        <form role="form" id="new-beer" ng-submit="addNewBeer()">
            <div class="panel-body">
            <div class="panel panel-warning">
                <div class="panel-heading">Basic info</div>
                <div class="panel-body">
                    <fieldset class="form-group">
                        <label for="beerName" class="control-label">Brew name</label>
                        <input type="text" class="form-control" ng-model="beer.name" placeholder="The name of your brew" required>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="beerBrewed">Beer was brewed on</label>
                        <div class="dropdown">
                            <a id="menu-toggle" class="delete-date" href="" ng-click="data.date = null" ng-show="data.date"><span style="margin-top:5px" class="fa fa-times span-btn"></span></a>
                            <a class="dropdown-toggle" id="dropdown1" role="button"  data-toggle="dropdown" >
                                <div class="input-group" ng-click="data.date = currentDate">
                                        <input type="text" class="form-control" id="brewed" placeholder="The brewing date" value ="{{ data.date | date:'yyyy-MM-dd' }}" readonly>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="data.date"  data-datetimepicker-config="{ dropdownSelector: '#dropdown1',startView:'day', minView:'day' }"/>
                            </ul>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="beerBottled">Beer was bottled on</label>
                        <div class="dropdown">
                            <a id="menu-toggle" class="delete-date" href="" ng-click="data2.date = null" ng-show="data2.date"><span style="margin-top:5px"  class="fa fa-times span-btn"></span></a>
                            <a class="dropdown-toggle" id="dropdown2" role="button"  data-toggle="dropdown" >
                                <div class="input-group" ng-click="data2.date = currentDate">
                                    <input type="text" class="form-control" id="bottled" placeholder="The date when the brew was bottled" value ="{{ data2.date | date:'yyyy-MM-dd' }}" readonly>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="data2.date"  data-datetimepicker-config="{ dropdownSelector: '#dropdown2',startView:'day', minView:'day' }"/>
                            </ul>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="beerFinished">Beer was finished on</label>
                        <div class="dropdown">
                            <a id="menu-toggle" class="delete-date" href="" ng-click="data3.date = null" ng-show="data3.date"><span style="margin-top:5px"  class="fa fa-times span-btn"></span></a>
                            <a class="dropdown-toggle" id="dropdown3" role="button"  data-toggle="dropdown" >
                                <div class="input-group" ng-click="data3.date = currentDate">
                                    <input type="text" class="form-control" id="finished" placeholder="When did you drink the last bottle?" value ="{{ data3.date | date:'yyyy-MM-dd' }}" readonly>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="data3.date"  data-datetimepicker-config="{ dropdownSelector: '#dropdown3',startView:'day', minView:'day' }"/>
                            </ul>
                        </div>
                    </fieldset>
                    <!--<fieldset class="form-group">-->
                    <!--    <label for="beerRating">Rating</label>-->
                    <!--    <input type="text" class="form-control" ng-model="beer.rating" min="1" max="5" placeholder="How do you rate your brew (1-5)?">-->
                    <!--</fieldset>-->
                    <fieldset class="form-group">
                        <label for="beerRating">Rating</label>
                        <div id="star-rating-beer" class="star-rating"> 
                          <span class="fa fa-star-o" data-rating="1"></span>
                          <span class="fa fa-star-o" data-rating="2"></span>
                          <span class="fa fa-star-o" data-rating="3"></span>
                          <span class="fa fa-star-o" data-rating="4"></span>
                          <span class="fa fa-star-o" data-rating="5"></span>
                          <input type="hidden" class="rating-value" value="beer.rating">
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Notes</label>
                        <wysiwyg textarea-id="beerNotes" textarea-class="form-control"  textarea-height="80px" textarea-name="textareaQuestion" 
                        textarea-required ng-model="beer.notes" enable-bootstrap-title="false" textarea-menu="menu"></wysiwyg>
                        <small class="text-muted">Add some notes and pictures about your brew.</small>
                    </fieldset>
                </div>
            </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-warning">
                    <div class="panel-heading">Recipe
                        <span class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-wrench"></span></a>
                            <ul class="dropdown-menu">
                            <li><a href="" ng-click="prepareAddNewRecipe()">Add a new recipe</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="" ng-click="selectFromRecipes()" data-toggle="modal" data-target="#select_recipe">Select from public recipes</a></li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="" ng-click="loadFromPdf()">Load from 'Pruulikeskus' invoice pdf</a>
                                <input id="pdfInput" type="file"/>
                            </li>
                            </ul>
                        </span>
                    </div>
                    
                     <!--Modal to select available recipes-->
                    <div id="select_recipe" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Select a recipe</h4>
                                </div>
                                
                                <div class="modal-body">
                                    <div id="recipes"   cg-busy="loadRecipes" >
                                        <h2>Recipes</h2>
                                        <div class="input-group" >
                                            <span class="input-group-addon glyphicon glyphicon-search"></span> 
                                            <input  ng-model="q" class="form-control" placeholder="Search for a beer">
                                        </div>
                                        <br>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                    <a href="" ng-click="order('name')">Name</a>
                                                    <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"/>
                                                </th>
                                                <th>
                                                    <a href="" ng-click="order('style')">Style</a>
                                                    <span class="sortorder" ng-show="predicate === 'style'" ng-class="{reverse:reverse}"/>
                                                </th>
                                                <th>
                                                    <a href="" ng-click="order('rating')">Rating</a>
                                                    <span class="sortorder" ng-show="predicate === 'rating'" ng-class="{reverse:reverse}"/>
                                                </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="recipe in recipes | filter:q | orderBy:predicate:reverse | itemsPerPage: pageSize">
                                                <td>
                                                    <a href="" data-dismiss="modal" ng-click="getRecipeData(recipe.id)">{{recipe.name}}</a>
                                                </td>
                                                    <td>{{recipe.style}}</td>
                                                    <td>{{recipe.rating}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                            <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-error" data-dismiss="modal">Close</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel-body">
                        
                        <small class="text-muted control-label" ng-show="!new_recipe">Click the wrench to add a recipe</small>
                        <div cg-busy="loadRecipe" id="new_recipe" ng-show="new_recipe">
                            <fieldset class="form-group">
                                <label for="recipeName" class="control-label">Recipe Name</label>
                                <input type="text" class="form-control" ng-model="recipe.name" placeholder="The name of the recipe" ng-required="new_recipe">
                                <!--<small class="text-muted">We'll never share your email with anyone else.</small>-->
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="recipeStyle" class="control-label">Style of the drink</label>
                                <input type="text" class="form-control" ng-model="recipe.style" placeholder="The style of the drink" ng-required="new_recipe">
                                <!--<input type="name" class="form-control" id="name" placeholder="{{beer.brewed}}">-->
                                <!--<small class="text-muted">We'll never share your email with anyone else.</small>-->
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="recipeSize">Batch size</label>
                                <input type="text" class="form-control" 
                                    ng-change="checkAutoCalculateSRMFlag()" 
                                    ng-model="recipe.batch_size" 
                                    placeholder="How much brew you can make with this recipe?">
                            </fieldset>
                            <fieldset>
                                <h4>Fermentables</h4>
                                <table class="table">
                                <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Amount</th>
                                      <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="fermentable in ingredients.fermentables">
                                        <td><input type="text" class="form-control" ng-model="fermentable.name" ng-change="checkAutoCalculateSRMFlag()" placeholder="Fermentable"></td>
                                        <td><input type="text" class="form-control" ng-model="fermentable.amount" name="" placeholder="Amount"></td>
                                        <td><span ng-click="removeChoice(ingredients.fermentables,fermentable)" class="fa fa-times span-btn"></span></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><span ng-click="addNewChoice(ingredients.fermentables,'fermentables',this)" class="fa fa-plus span-btn"></span></a></td>
                                    </tr>
                                </tbody>
                                </table>
                            </fieldset>
                            <fieldset>
                                <h4>Hops</h4>
                                <table class="table">
                                <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Amount</th>
                                      <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="hops in ingredients.hops">
                                        <td><input type="text" class="form-control" ng-model="hops.name" name="" placeholder="Hops"></td>
                                        <td><input type="text" class="form-control" ng-model="hops.amount" name="" placeholder="Amount"></td>
                                        <td><span ng-click="removeChoice(ingredients.hops,hops)" class="fa fa-times span-btn"></span></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><span ng-click="addNewChoice(ingredients.hops,'hops',this)" class="fa fa-plus span-btn"></span></a></td>
                                    </tr>
                                </tbody>
                                </table>
                            </fieldset>
                            <fieldset>
                                <h4>Yeast</h4>
                                <table class="table">
                                <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th></th>
                                      <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="yeast in ingredients.yeast">
                                        <td><input type="text" class="form-control" ng-model="yeast.name" name="" placeholder="Yeast"/></td>
                                        <td><input class="form-control" id="yeast-field" readonly/></td>
                                        <td><span ng-click="removeChoice(ingredients.yeast,yeast)" class="fa fa-times span-btn"></span></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><span ng-click="addNewChoice(ingredients.yeast,'yeast',this)" class="fa fa-plus span-btn"></span></a></td>
                                    </tr>
                                </tbody>
                                </table>
                            </fieldset>
                            <fieldset>
                                <h4>Other</h4>
                                <table class="table">
                                <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Amount</th>
                                      <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="other in ingredients.other">
                                        <td><input type="text" class="form-control" ng-model="other.name" name="" placeholder="Ingredient"></td>
                                        <td><input type="text" class="form-control" ng-model="other.amount" name="" placeholder="Amount"></td>
                                        <td><span ng-click="removeChoice(ingredients.other,other)" class="fa fa-times span-btn"></span></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><span ng-click="addNewChoice(ingredients.other,'other',this)" class="fa fa-plus span-btn"></span></a></td>
                                    </tr>
                                </tbody>
                                </table>
                            </fieldset>
                            
                            <fieldset class="form-group">
                                <label>Notes</label>
                                <wysiwyg textarea-id="recipeNotes" textarea-class="form-control"  textarea-height="80px" textarea-name="textareaQuestion" 
                                textarea-required ng-model="recipe.notes" enable-bootstrap-title="false" textarea-menu="menu"></wysiwyg>
                            </fieldset>
                            
                            <div class="panel panel-warning">
                                <div class="panel-heading">Recipe statistics</div>
                                <div class="panel-body">
                                    <fieldset class="form-group">
                                        <label for="OG">Original gravity</label>
                                        <input type="text" class="form-control" ng-model="recipe_stats.OG" placeholder="{{recipe_stats.OG}}">
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="recipeStyle">Final gravity</label>
                                        <input type="text" class="form-control" ng-model="recipe_stats.FG" placeholder="{{recipe_stats.FG}}">
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="recipeSize">IBU (Bitterness) : {{recipe_stats.IBU}}</label>
                                        <input type="range" ng-model="recipe_stats.IBU" min="0" max="100">
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="recipeRating">SRM (Color)</label><br>
                                        <div id="srmColor">
                                            <span class="srmBoxEdit" style="background-color:{{SRM[recipe_stats.SRM]}};"></span>   
                                        </div>
                                        <br>
                                        <input type="range" ng-model="recipe_stats.SRM" min="0" max="39">
                                        <br>
                                        <input type="button" id="autoCalcSrm" 
                                            ng-show="canAutoCalcSRM"
                                            class="btn color btn-primary btn-block"
                                            value="Auto calculate SRM" ng-click="calculateSRM()">
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="panel-body">
            <div class="panel panel-warning">
                <div class="panel-heading">Stats</div>
                <div class="panel-body">
                    <small class="text-muted">These can be filled in later</small>
                    <br>
                    <br>
                    <input type="checkbox" name="copyStats" checked ng-click="copyBeerStatsFromRecipe = !copyBeerStatsFromRecipe"> Copy stats from recipe<br>
                    <br>

                    <div ng-show="copyBeerStatsFromRecipe === false">
                        <fieldset class="form-group">
                            <label for="OG">Original gravity</label>
                            <input type="text" class="form-control" ng-model="beer_stats.OG" placeholder="The original gravity, e.g, 1.052">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="recipeStyle">Final gravity</label>
                            <input type="text" class="form-control" ng-model="beer_stats.FG" placeholder="The final gravity, e.g, 1.001">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="recipeSize">IBU (Bitterness) : {{beer_stats.IBU}}</label>
                            <input type="range" ng-model="beer_stats.IBU" min="0" max="100">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="recipeRating">SRM (Color)</label><br>
                            <div id="srmColor">
                                <span class="srmBoxEdit" style="background-color:{{SRM[beer_stats.SRM]}};"></span>   
                            </div>
                            <br>
                            <input type="range" ng-model="beer_stats.SRM" min="0" max="39">
                        </fieldset>
                    </div>
                </div>
            </div>
            
            <div style="float:right">
                <a href="#/beers"><span class="fa fa-times edit-btn"><h3 style="display:inline"> Back</h3></span></a>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span id="save" class="fa fa-floppy-o span-btn"><h3 style="display:inline"> Save</h3></span>
                <button id="submit" style="display:none" type="submit"/>
            </div>
            
            </div>
        </form>
    </div>
</div>