<div ng-app="beer" class="view-container">
  <nav ng-controller="NavBarCtrl" class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#home">
        <img alt="Brand" width="28" height="24" src="http://icons.iconarchive.com/icons/dapino/beach/256/beer-icon.png">
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse  no-transition" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="a-nav" href="/">HOME</a></li>
        <!--<li><a style="color:#FFDD00;" href="#/beers">CALCULATORS</a></li>-->
        <li><a class="a-nav" href="#/recipes">RECIPES</a></li>
        <li class="dropdown">
          <a ng-show="isLoggedIn()" class="dropdown-toggle a-nav" data-toggle="dropdown" role="button" aria-haspopup="true" 
          aria-expanded="false">BEERS<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-li-font" href="#/beers">View Beers</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="nav-li-font" href="#/beers/new">Add a new beer</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">One more separated link</a></li>-->
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="a-nav" href="#/profile" ng-show="isLoggedIn()">PROFILE</a></li>
        <li><a class="a-nav" href="#/login" ng-hide="isLoggedIn()">LOG IN</a></li>
        <li><a class="a-nav" href="#/login" ng-show="isLoggedIn()" ng-click="logOut()">LOG OUT</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div ng-view class="view-frame animate-view">
  
</div>