<div id="edit_beer" class="container col-md-8 col-md-offset-2">
    <h1>Edit</h1>
    <div class="panel outside with-nav-tabs panel-danger">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li><a href="#/beers/{{beer.id}}/edit_beer">Beer</a></li>
                <li class="active"><a data-toggle="tab">Recipe</a></li>
                <li><a href="#/beers/{{beer.id}}/edit_stats">Stats</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <form ng-submit="submitRecipeEdit()">
                <fieldset class="form-group">
                    <label for="recipeName" class="control-label">Recipe Name</label>
                    <input type="text" class="form-control" ng-model="recipe.name" placeholder="The name of your recipe" required>
                    <!--<small class="text-muted">We'll never share your email with anyone else.</small>-->
                </fieldset>
                <fieldset class="form-group">
                    <label for="recipeStyle" class="control-label">Style of the drink</label>
                    <input type="text" class="form-control" ng-model="recipe.style" placeholder="The style of the drink" required>
                    <!--<input type="name" class="form-control" id="name" placeholder="{{beer.brewed}}">-->
                    <!--<small class="text-muted">We'll never share your email with anyone else.</small>-->
                </fieldset>
                <fieldset class="form-group">
                    <label for="recipeSize">Batch size</label>
                    <input type="text" class="form-control" ng-model="recipe.batch_size" placeholder="How much brew you can make with this recipe?">
                </fieldset>
                <fieldset>
                    <h4>Fermentables</h4>
                    <table class="table">
                    <thead>
                        <tr>
                          <th>Name</th>
                          <th>Amount</th>
                          <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="fermentable in ingredients.fermentables">
                            <td><input type="text" class="form-control" ng-model="fermentable.name" name="" placeholder="Fermentable"></td>
                            <td><input type="text" class="form-control" ng-model="fermentable.amount" name="" placeholder="Amount"></td>
                            <td><span ng-click="removeChoice(ingredients.fermentables,fermentable)" class="fa fa-times span-btn"></span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><span ng-click="addNewChoice(ingredients.fermentables,'fermentables',this)" class="fa fa-plus span-btn"></span></a></td>
                        </tr>
                    </tbody>
                    </table>
                </fieldset>
                <fieldset>
                    <h4>Hops</h4>
                    <table class="table">
                    <thead>
                        <tr>
                          <th>Name</th>
                          <th>Amount</th>
                          <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="hops in ingredients.hops">
                            <td><input type="text" class="form-control" ng-model="hops.name" name="" placeholder="Hops"></td>
                            <td><input type="text" class="form-control" ng-model="hops.amount" name="" placeholder="Amount"></td>
                            <td><span ng-click="removeChoice(ingredients.hops,hops)" class="fa fa-times span-btn"></span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><span ng-click="addNewChoice(ingredients.hops,'hops',this)" class="fa fa-plus span-btn"></span></a></td>
                        </tr>
                    </tbody>
                    </table>
                </fieldset>
                <fieldset>
                    <h4>Yeast</h4>
                    <table class="table">
                    <thead>
                        <tr>
                          <th>Name</th>
                          <th></th>
                          <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="yeast in ingredients.yeast">
                            <td><input type="text" class="form-control" ng-model="yeast.name" name="" placeholder="Yeast"/></td>
                            <td><input class="form-control" id="yeast-field" readonly/></td>
                            <td><span ng-click="removeChoice(ingredients.yeast,yeast)" class="fa fa-times span-btn"></span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><span ng-click="addNewChoice(ingredients.yeast,'yeast',this)" class="fa fa-plus span-btn"></span></a></td>
                        </tr>
                    </tbody>
                    </table>
                </fieldset>
                <fieldset>
                    <h4>Other</h4>
                    <table class="table">
                    <thead>
                        <tr>
                          <th>Name</th>
                          <th>Amount</th>
                          <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="other in ingredients.other">
                            <td><input type="text" class="form-control" ng-model="other.name" name="" placeholder="Ingredient"></td>
                            <td><input type="text" class="form-control" ng-model="other.amount" name="" placeholder="Amount"></td>
                            <td><span ng-click="removeChoice(ingredients.other,other)" class="fa fa-times span-btn"></span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><span ng-click="addNewChoice(ingredients.other,'other',this)" class="fa fa-plus span-btn"></span></a></td>
                        </tr>
                    </tbody>
                    </table>
                </fieldset>
                
                <fieldset class="form-group">
                    <label>Notes</label>
                    <wysiwyg textarea-id="recipeNotes" textarea-class="form-control"  textarea-height="80px" textarea-name="textareaQuestion" 
                    textarea-required ng-model="recipe.notes" enable-bootstrap-title="false" textarea-menu="menu" ng-keypress="pingServer()">
                    </wysiwyg>
                    <!--<small class="text-muted">We'll never share your email with anyone else.</small>-->
                </fieldset>
                
                <div class="panel panel-warning">
                    <div class="panel-heading">Recipe statistics</div>
                    <div class="panel-body">
                        <fieldset class="form-group">
                            <label for="OG">Original gravity</label>
                            <input type="text" class="form-control" ng-model="recipe_stats.OG" placeholder="The original gravity, e.g, 1.052">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="recipeStyle">Final gravity</label>
                            <input type="text" class="form-control" ng-model="recipe_stats.FG" placeholder="The final gravity, e.g, 1.001">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="recipeSize">IBU (Bitterness) : {{recipe_stats.IBU}}</label>
                            <input type="range" ng-model="recipe_stats.IBU" min="0" max="100">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="recipeRating">SRM (Color)</label><br>
                            <div id="srmColor">
                                <span class="srmBoxEdit" style="background-color:{{SRM[recipe_stats.SRM]}};"></span>   
                            </div>
                            <br>
                            <input type="range" ng-model="recipe_stats.SRM" min="0" max="39">
                        </fieldset>
                    </div>
                </div>
                
                <div style="float:right">
                    <a href="#/beers/{{beer.id}}"><span class="fa fa-times edit-btn"><h3 style="display:inline"> Back</h3></span></a>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span id="save" class="fa fa-floppy-o span-btn"><h3 style="display:inline"> Save</h3></span>
                </div>
                <button id="submit" style="display:none"/>
            </form> 
    </div>
</div>