<div id="edit_beer" class="container col-md-8 col-md-offset-2">
    <h1>Edit</h1>
    <div class="panel outside with-nav-tabs panel-danger">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab">Beer</a></li>
                <li><a href="#/beers/{{beer.id}}/edit_recipe">Recipe</a></li>
                <li><a href="#/beers/{{beer.id}}/edit_stats">Stats</a></li>
            </ul>
        </div>
        
        <div class="panel-body" ng-cloak>
            <form ng-submit="submitBeerEdit()">
                <fieldset class="form-group">
                    <label for="beerName" class="control-label">Beer Name</label>
                    <input type="text" class="form-control" ng-model="beer.name" placeholder="The name of the brew" required>
                    <!--<small class="text-muted">We'll never share your email with anyone else.</small>-->
                </fieldset>
                <fieldset class="form-group">
                    <label for="beerBrewed">Beer was brewed on</label>
                    <div class="dropdown">
                        <a id="menu-toggle" class="delete-date" href="" ng-click="data.date = null" ng-show="data.date"><span style="margin-top:5px"  class="fa fa-times span-btn"></span></a>
                        <a class="dropdown-toggle" id="dropdown1" role="button"  data-toggle="dropdown" >
                            <div class="input-group" ng-click="data.date = currentDate">
                                <input type="text" class="form-control" id="brewed" placeholder="{{beer.brewed}}" value ="{{ data.date | date:'yyyy-MM-dd' }}" readonly>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="data.date"  data-datetimepicker-config="{ dropdownSelector: '#dropdown1',startView:'day', minView:'day' }"/>
                        </ul>
                    </div>
                    <!--<input type="name" class="form-control" id="name" placeholder="{{beer.brewed}}">-->
                    <!--<small class="text-muted">We'll never share your email with anyone else.</small>-->
                </fieldset>
                <fieldset class="form-group">
                    <label for="beerBottled">Beer was bottled on</label>
                    <div class="dropdown">
                        <a id="menu-toggle" class="delete-date" href="" ng-click="data2.date = null" ng-show="data2.date"><span style="margin-top:5px"  class="fa fa-times span-btn"></span></a>
                        <a class="dropdown-toggle" id="dropdown2" role="button"  data-toggle="dropdown" >
                            <div class="input-group" ng-click="data2.date = currentDate">
                                <input type="text" class="form-control" id="bottled" placeholder="{{beer.bottled}}" value ="{{ data2.date | date:'yyyy-MM-dd' }}" readonly>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="data2.date"  data-datetimepicker-config="{ dropdownSelector: '#dropdown2',startView:'day', minView:'day' }"/>
                        </ul>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label for="beerBottled">Beer was finished on</label>
                    <div class="dropdown">
                        <a id="menu-toggle" class="delete-date" href="" ng-click="data3.date = null" ng-show="data3.date"><span style="margin-top:5px"  class="fa fa-times span-btn"></span></a>
                        <a class="dropdown-toggle" id="dropdown3" role="button"  data-toggle="dropdown" >
                            <div class="input-group" ng-click="data3.date = currentDate">
                                <input type="text" class="form-control" id="finished" placeholder="{{beer.finished}}" value ="{{ data3.date | date:'yyyy-MM-dd' }}" readonly>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="data3.date"  data-datetimepicker-config="{ dropdownSelector: '#dropdown3',startView:'day', minView:'day' }"/>
                        </ul>
                    </div>
                </fieldset>
                <!--<fieldset class="form-group">-->
                <!--    <label for="beerRating">Rating</label>-->
                <!--    <input type="text" class="form-control" ng-model="beer.rating" placeholder="{{beer.rating}}">-->
                    <!--<small class="text-muted">We'll never share your email with anyone else.</small>-->
                <!--</fieldset>-->
                <fieldset class="form-group">
                    <label for="beerRating">Rating</label>
                    <div id="star-rating-beer" class="star-rating"> 
                      <span class="fa fa-star-o" data-rating="1"></span>
                      <span class="fa fa-star-o" data-rating="2"></span>
                      <span class="fa fa-star-o" data-rating="3"></span>
                      <span class="fa fa-star-o" data-rating="4"></span>
                      <span class="fa fa-star-o" data-rating="5"></span>
                      <input type="hidden" class="rating-value" value="beer.rating">
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label>Notes</label>
                    <wysiwyg textarea-id="beerNotes" textarea-class="form-control notes"  textarea-height="80px" textarea-name="textareaQuestion" 
                    textarea-required ng-model="beer.notes" enable-bootstrap-title="false" textarea-menu="menu" ng-keypress="pingServer()"></wysiwyg>
                    <!--<small class="text-muted">We'll never share your email with anyone else.</small>-->
                </fieldset>
                <div style="float:right">
                    <a href="#/beers/{{beer.id}}"><span class="fa fa-times"><h3 style="display:inline"> Back</h3></span></a>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span id="save" class="fa fa-floppy-o span-btn"><h3 style="display:inline"> Save</h3></span>
                </div>
                <button id="submit" style="display:none" type="submit"/>
            </form> 
    </div>
</div>