<div id="edit_stats" class="container col-md-8 col-md-offset-2">
    <h1>Edit</h1>
    <div class="panel outside with-nav-tabs panel-danger">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li><a href="#/beers/{{beer.id}}/edit_beer">Beer</a></li>
                <li><a href="#/beers/{{beer.id}}/edit_recipe">Recipe</a></li>
                <li class="active"><a data-toggle="tab">Stats</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <form>
                <fieldset class="form-group">
                    <label for="OG">Original gravity</label>
                    <input type="text" class="form-control" ng-model="beer_stats.OG" placeholder="The original gravity, e.g, 1.052">
                    <!--<small class="text-muted">We'll never share your email with anyone else.</small>-->
                </fieldset>
                <fieldset class="form-group">
                    <label>Final gravity</label>
                    <input type="text" class="form-control" ng-model="beer_stats.FG" placeholder="The final gravity, e.g, 1.001">
                    <!--<input type="name" class="form-control" id="name" placeholder="{{beer.brewed}}">-->
                    <!--<small class="text-muted">We'll never share your email with anyone else.</small>-->
                </fieldset>
                <fieldset class="form-group">
                    <label>IBU (Bitterness) : {{beer_stats.IBU}}</label>
                    <input type="range" ng-model="beer_stats.IBU" min="0" max="100">
                </fieldset>
                <fieldset class="form-group">
                    <label>SRM (Color)</label><br>
                    <div id="srmColor">
                        <span class="srmBoxEdit" style="background-color:{{SRM[beer_stats.SRM]}};"></span>   
                    </div>
                    <br>
                    <input type="range" ng-model="beer_stats.SRM" min="0" max="39">
                </fieldset>
                                
                <div style="float:right">
                    <a class="edit-btn" href="#/beers/{{beer.id}}"><span class="fa fa-times edit-btn"><h3 style="display:inline"> Back</h3></span></a>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span ng-click="submitStatsEdit()" class="fa fa-floppy-o span-btn"><h3 style="display:inline"> Save</h3></span>
                </div>
            </form> 
    </div>
</div>