<div id="recipes" class="container col-md-8 col-md-offset-2">
  <h2>Recipes</h2>
  <div class="search">
    <div class="input-group" >
      <span class="input-group-addon glyphicon glyphicon-search"></span> 
      <input  ng-model="q" class="form-control" placeholder="Search for a recipe">
    </div>
  </div>
  <br/>
  <br/>
  <div cg-busy="loadRecipes" class="panel outside panel-warning" ng-cloak>
    <div class="panel-heading">Public recipes
      <div style="float:right">
        <a href="" class="page_size" ng-click="pageSize=10">10</a><span> | </span>
        <a href="" class="page_size" ng-click="pageSize=25">25</a><span> | </span>
        <a href="" class="page_size" ng-click="pageSize=50">50</a>
      </div>
    </div>
    <div class="panel-body">
      <table class="table" ng-cloak>
          <thead>
            <tr>
              <th>
                <a href="" ng-click="order('name')">Name</a>
                <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"/>
              </th>
              <th id="styleHeader">
                <a href="" ng-click="order('style')">Style</a>
                <span class="sortorder" ng-show="predicate === 'style'" ng-class="{reverse:reverse}"/>
              </th>
              <th>
                <a href="" ng-click="order('user')">Owner</a>
                <span class="sortorder" ng-show="predicate === 'user'" ng-class="{reverse:reverse}"/>
              </th>
              <th id="ownerRatingHeader">
                <a href="" ng-click="order('rating')">Owner Rating</a>
                <span class="sortorder" ng-show="predicate === 'rating'" ng-class="{reverse:reverse}"/>
              </th>
              <th>
                <a href="" ng-click="order('created_at')">Created at</a>
                <span class="sortorder" ng-show="predicate === 'created_at'" ng-class="{reverse:reverse}"/>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="recipe in recipes | filter:q | orderBy:predicate:reverse | itemsPerPage: pageSize">
              <td>
                <a href="#/recipes/{{recipe.id}}">
                {{recipe.name}}
              </td>
              <td id="styleHeaderValue">{{recipe.style}}</td>
              <td>{{recipe.user.split('@')[0]}}</td>
              <td id="ownerRatingValue">{{recipe.rating}}</td>
              <td>{{recipe.created_at.split('T')[0]}}</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
  <div class="text-center">
    <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
  </div>
</div>
