<div id="recipe" class="container col-md-8 col-md-offset-2">
    <h2>{{recipe.name}}</h2>
    <div cg-busy="loadRecipe" class="panel outside panel-warning">
        <div class="panel-heading">Style: {{recipe.style}}</div>
        <div class="panel-body">
            <h3>Fermentables</h3>
            <table class="table">
                <thead class="thead">
                    <tr>
                      <th>Name</th>
                      <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fermentable in ingredients.fermentables">
                      <td>{{fermentable.name}}</td>
                      <td>{{fermentable.amount}}</td>
                    </tr>
                </tbody>
            </table>
            <div id="hops" ng-show="!!ingredients.hops.length">
                <h3>Hops</h3>
                <table class="table">
                    <thead>
                        <tr>
                          <th>Name</th>
                          <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="hops in ingredients.hops">
                          <td>{{hops.name}}</td>
                          <td>{{hops.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="yeast" ng-show="!!ingredients.yeast.length">
                <h3>Yeast</h3>
                <table class="table">
                    <thead>
                        <tr>
                          <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="yeast in ingredients.yeast">
                          <td>{{yeast.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="otherIngredients" ng-show="!!ingredients.other.length">
                <h3>Other ingredients</h3>
                <table class="table">
                    <thead>
                        <tr>
                          <th>Name</th>
                          <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="other in ingredients.other">
                          <td>{{other.name}}</td>
                          <td>{{other.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">Stats</div>
                <div class="panel-body">
                    <h4>OG</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{(recipe_stats.OG-1)*1000}}%;">{{recipe_stats.OG}}</div>
                    </div>
                    <h4>FG</h4>
           
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{(recipe_stats.FG-1)*1000}}%;">{{recipe_stats.FG}}</div>
                    </div>
                    <h4>IBU</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{recipe_stats.IBU}}" aria-valuemin="0" aria-valuemax="120" style="width: {{recipe_stats.IBU}}%;">{{recipe_stats.IBU}}</div>
                    </div>
                    <h4>SRM</h4>
                    <div class="wrapper">
                        <div class="tooltip" ng-style="tip_margin">SRM: {{recipe_stats.SRM+1}}</div>
                        <div id="SRM" class="progress" ng-style="srm_last_background">
                        <div ng-repeat="n in srmArray">
                            <span class="srmBox" ng-style="srm_width" style="background-color:{{n}};"></span>
                        </div>
                    </div>
                    </div>
                    <table class="table">
                    <thead>
                        <tr>
                          <th>ABV</th>
                          <th>Batch size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td><h4>{{recipe.abv}}%</h4></td>
                          <td><h4>{{recipe.batch_size}}</h4></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-warning" ng-show="recipe.notes">
            <div class="panel-heading">Notes</div>
                <div class="panel-body">
                    <div class="panel-body">
                       <wysiwyg textarea-id="recipeNotes" ng-model="recipe.notes" textarea-class="form-control" textarea-name="notes" textarea-menu="noMenu" textarea-height="350px" disabled="true">
                       </wysiwyg>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>