<div class="container col-xs-8 col-md-offset-2">
    <h2>Edit Profile</h2>
    <div class="panel outside panel-warning" ng-cloak>
        <div class="panel-heading">Account details</div>
        <div class="panel-body">
           <form role="form" ng-submit="editUser()">
                <label class="control-label">Email</label>
                <input type="email" class="form-control" ng-model="email" placeholder="Your email" required>
    		
                <label class="control-label">Password</label>
                <input type="password" class="form-control" ng-model="password" placeholder="Your password, minimum 4 characters" required required pattern=".{4,10}" required title="4 characters minimum, 10 maximum">
             	<label class="control-label">Password again</label>
                <input type="password" class="form-control" ng-model="password_repeat" placeholder="Your password again, minimum 4 characters" required pattern=".{4,10}" required title="4 characters minimum, 10 maximum">
                <br>
                <div style="float:right">
                    <a href="#/profile"><span class="fa fa-times"><h3 style="display:inline"> Back</h3></span></a>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span id="save" class="fa fa-floppy-o span-btn"><h3 style="display:inline"> Save</h3></span>
                </div>
                <button id="submit" style="display:none" type="submit"/>
			</form> 
        </div>
    
    </div>
</div>
