<div class="container col-md-6 col-md-offset-3">
	<h2>Sign In</h2>
	<form role="form" class="login">
		<fieldset>
			<h4 class="text-danger">{{login_errorMsg}}</h4>
			<hr style="border:0; height:1px; background:#000;" class="colorgraph">
			<div class="form-group">
      			<input type="email" name="email" id="email" ng-model="email" class="form-control input-lg" placeholder="Email Address" required>
			</div>
			<div class="form-group">
                <input type="password" name="password" ng-model="password" id="password" class="form-control input-lg" placeholder="Password" required>
			</div>
			<p style="text-align:center;">Not a user? Click <a href="#/register">here</a> to create an account!</p>
			<hr style="border:0; height:1px; background:#000;" class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        			<input ng-click="submitSignIn()" type="submit" class="btn color btn-lg btn-primary btn-block glow_btn" value="Sign In">
				</div>
			</div>
		</fieldset>
	</form>
</div>