<div class="container col-md-8 col-md-offset-2">
    <h2>
        Profile
        <span class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-cog"></span></a>
            <ul class="dropdown-menu">
            <li><a href="#/profile/edit">Edit User</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="" data-toggle="modal" data-target="#confirmDelete">Delete User</a></li>
            </ul>
        </span>
    </h2>

    
    
    <div cg-busy="loadGeneralStatistics"  class="panel outside panel-warning" ng-cloak>
        <div class="panel-heading">Account details</div>
    
        <div class="panel-body">
        
            <div id="confirmDelete" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content panel-danger">
                        <div class="modal-header panel-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">DELETE</h4>
                        </div>
                        <div class="modal-body">
                        <h4>Are you sure you want to delete your account?</h4>
                        </div>
                        <div class="modal-footer">
                            <span data-dismiss="modal" class="fa fa-times span-btn"><h3 style="display:inline"> NO</h3></span>
                            <span>&nbsp;</span>
                            <span style="font-size:20px" ng-click="deleteUser()" class="fa fa-exclamation-triangle span-btn"><h3 style="display:inline"> YES</h3></span>
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
            
            
            <label class="form-label">Email</label>
            <h4>{{email}}</h4>
            <label class="form-label">Total amount of brews:</label>
            <h4>{{total}}</h4>
            <div ng-show="total">
                <label class="form-label">Styles</label>
                <hr style="border:0; height:1px; background:#000;" class="colorgraph">
                <div google-chart chart="chartObject" style="height:300px; width:100%;"></div>
                <hr style="border:0; height:1px; background:#000;" class="colorgraph">
            </div>
            <!--<div class="panel panel-warning">-->
            <!--    <div class="panel-heading">Beer recipe</div>-->
            <!--    <div class="panel-body">-->
            <!--    </div>-->
            <!--</div>-->
       </div>
    </div>
</div>
</div>
