<div class="container col-md-6 col-md-offset-3">
	<form role="form" ng-submit="registerUser()" class="login">
		<fieldset>
			<h2>Create an account</h2>
			<hr style="border:0; height:1px; background:#000;" class="colorgraph">
         <label style="color:white" class="control-label">Email</label>
         <input type="email" class="form-control" ng-model="email" placeholder="Your email" required>
         <label style="color:white"class="control-label">Password</label>
         <input type="password" class="form-control" ng-model="password" placeholder="Your password, minimum 4 characters" required required pattern=".{4,10}" required title="4 characters minimum, 10 maximum">
      	<label style="color:white" class="control-label">Password again</label>
         <input type="password" class="form-control" ng-model="password_repeat" placeholder="Your password again, minimum 4 characters" required pattern=".{4,10}" required title="4 characters minimum, 10 maximum">
         <hr style="border:0; height:1px; background:#000;" class="colorgraph">
			<div class="row">
				<div id="myCaptcha"></div>
				<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
         		<br/>
         		<br/>
        			<input id="login" type="submit" class="btn color btn-lg btn-primary btn-block glow_btn" value="Register">
				</div>
			</div>
		</fieldset>
	</form>
</div>