<div ng-ccontroller="HomeCtrl" class="jumbotron">
  <div class="container">
    <h1>PINTA BEER</h1>
    <p>Pinta beer is the most fucking famous beer logging technology in the milky way.</p>
  </div>
</div>
<div ng-controller="RecipesCtrl" class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <h2 class="text-center">Recipes</h2>
    <form role="form">
		<fieldset>
			<div class="form-group">
	  			<input ng-model="recipe_query" class="form-control input-lg" placeholder="Recipe">
			</div>
			<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
	  			<input type="submit" ng-click="searchRecipe(recipe_query)" type="button" class="btn color btn-lg btn-primary btn-block glow_btn" value="Search">
			</div>
		</fieldset>
	</form>
</div>

