<div style="background-image:url('http://www.wallies.com/filebin/images/loading_apple.gif');background-position:50% 20px;background-repeat:no-repeat">

	<div style="text-align:center;font-size:26px;position:absolute;top:100px;width:100%;text-shadow:1px 1px 2px white, -1px -1px 2px white,-4px 4px 4px white,-4px 4px 4px white">{{$message}}</div>

</div>