.srmBox {
	float: left;
	height: 20px;
	border-width: 1px;
}

body {
    padding-right: 0 !important;
}
#main-nav {
    padding-right: 0 !important;
}
@media screen and (min-width : 1500px) {
  .container {
    text-align: center;
  }
  .panel.outside, .container h1, .container h2, .container > .search, .login {
    width: 80%;
    display: inline-block;
    text-align: left;
  }
}
@media screen and (min-width : 0px) and (max-width : 500px) {

  .rating {
    display:none; 
  }
  
  #mobile_rating {
    display: inline !important;
  }

  #ownerRatingHeader, .a {
    display: none !important;
  }

  #ownerRatingValue {
    display: none !important;
  }

  #styleHeader, .a {
    display: none !important;
  }

  #styleHeaderValue {
    display: none !important;
  }

  .mobile_beers a, .mobile_beers td {
   font-size: 10px !important;
  }
  .no-transition {
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: height 0.01s;
  }
  .dropdown-menu {
    font-size:10px !important;
  }
  
  //beer cog dropdown to the left on mobile
  .left{
    right: 0 !important;  
    left: auto !important;
  }

}

#mobile_rating {
  display: none;
}

#pdfInput {
  display: none;
}


.srmBoxEdit {
	float: left;
	width: 100%;
	height: 100px;
	border-width: 1px;
	margin-bottom: 15px;
}


#bottled, #brewed, #finished {
  background-color:white !important;
}
.expanding {
  margin-top: 5px !important;
  min-height:50px !important;
	max-height: 500px !important;
  height:100% !important;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

.control-label:after { 
    color: #d00;
    content: "*";
    margin-left: 8px;
    top:7px;
    font-size: 22px;
}

.glyphicon.glyphicon-remove {
    font-size: 25px;
    line-height:35px;
    color:#d14;
}

.fa.fa-floppy-o,.fa.fa-times{
  font-size: 25px;
}
.fa.fa-plus {
  font-size: 25px;
}


.glyphicon.glyphicon-cog {
    font-size: 25px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    color:#808080;
}

.glyphicon.glyphicon-cog:hover {
    color:#D3D3D3;
}


.delete-date {
  float:left; 
  margin-right:5px;
}

.round-button {
    width:25px;
    height:25px;
    line-height:25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #009933;
    box-shadow: 0 0 3px gray;
    font-size:15px;
    font-weight:bold;
}
.round-button:hover {
    background: #003300;
}

.input-group .glyphicon {
  top: 0;
}


.jumbotron {
    margin-top: 0px;
    /*background-image: url(http://whatdoiweardc.com/wp-content/uploads/2015/01/Beer_Closeup2.jpg);*/
    background-image: url(http://static1.squarespace.com/static/54d4fd1fe4b08488ab0ce400/t/560d8098e4b00841526bc311/1443725464032/beer-closeup.jpg);
    padding-bottom: 5%;
    width:100% !important;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.navbar {
	margin-bottom: 0px;
}

.wysiwyg-textarea {
    background-color: white !important;
}

/*COLOR SCHEMES*/
$main-color: #C36200;
$snd-color: #9F5000;
$thr-color: #743B00;
$panel-background: #D7D7D7;
$light: #F57F07;
$lighter: #FBA043;

body { 
  background: url('footer_lodyas.png') repeat 0 0;
 // background: url('bg_beer.jpg');
}

.panel.outside {
    border: 0;
    //background-color: $panel-background;
    // opacity: 0.95;
}
.panel-heading {
  background-color: $main-color !important;
  //background-color:gray !important;
  color: white !important;
}

.panel-warning {
  border-color: $main-color !important;
}

.container h1,h2,h3,h4 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	color:white;
}

.container .panel h3, h4, .modal-body h2 {
  color:black;
}

a {
  color: $main-color;
}

a:hover {
  color: $thr-color;
}

p {
	font-family: 'Vollkorn', Georgia, Times, serif;
	color:white;
}

.btn.color {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  background-color:$main-color;
  border: 0px;
  //border-color: $thr-color !important;
}

.glow_btn {
  border-color: $main-color;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $snd-color;
}


.btn.color:hover, .btn.color:focus {
  background-color:$snd-color;
}

.btn.color:active, .btn.color:active:focus {
  background-color:$thr-color;
}


.fa.fa-plus:hover, .fa.fa-plus:focus {
  color:$light;
}

.fa.fa-plus:active, .fa.fa-plus:active:focus {
  color:$lighter;
}

.pagination > .active > a {
    color:white !important;
    background-color:$main-color !important;
    border-color:$main-color !important;
}

.pagination a{
    color:$main-color !important;
}

.form-control:focus {
  border-color: $main-color;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $snd-color;
}

//Panel tabs start
.nav.nav-tabs li a {
  color: white !important;
}
.nav.nav-tabs .active a {
  background-color: $snd-color !important;
  border-color: $thr-color !important;
}


.nav.nav-tabs li a:hover{
  background-color: $snd-color !important;
  border-color: $thr-color !important;
}

.nav-tabs {
  border-color: $thr-color !important;
}
//*


//Navbar
.navbar {
  border-color:$main-color;
}

.a-nav {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size:18px !important;
}

.a-nav:hover, .a-nav:focus, .a-nav:active:focus {
  color: $lighter !important;
}

.dropdown-toggle:active, .open .dropdown-toggle {
  color: $lighter !important;
}

.dropdown-menu {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size:12px;
}
//*



.span-btn:hover, .span-btn:active:focus, .span-btn:active {
  cursor: pointer;
  color: $snd-color;
}
.span-btn {
  color: $main-color;
}

td .span-btn {
  float: right;
}

#yeast-field, #yeast-field:focus {
  color: transparent;
  background-color: transparent;
  cursor: default;
  border: 0px;
  box-shadow: none;
}

#myCaptcha {
  margin: 0 auto; 
  display: table;
}

.star-rating {
  font-size: 25px;
  cursor: pointer;
  color: $main-color;
}

.star-rating-table {
  font-size: 15px;
  color: $main-color;
}

.star-rating .fa.fa-star {
  color: $lighter;
}

.progress-bar {
  color: black;
}


//TOOLTIP
.wrapper {
  position: relative;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.wrapper .tooltip {
  bottom: 100%;
  color: #fff;
  display: block;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
   border-radius: 25px;
  position: absolute;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
  /* needed styles for the overlay */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $snd-color;
  //text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  width: 100%;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

.wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: inherit;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: 0px;
  position: absolute;
  width: 0;
}
  
.wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper .tooltip {
  display: none;
}

.lte8 .wrapper:hover .tooltip {
  display: block;
}

.page_size {
  color: white;
}

.viewOrEditBeerLink {
    color: $main-color;
    cursor: pointer;
}

.viewOrEditBeerLink:hover {
    color: $thr-color;
    text-decoration: underline;
}