<!DOCTYPE html>
<html>
<head>
  <title>Beerlogger</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <%= javascript_include_tag 'application'%>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'icon.png' %>
  <link rel="shortcut icon" type="image/png" href="icon.png"/>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
